/*
    Templete Name: Elite Corp
    Coder Name: ahmed hussan
    Date: 17/6/2020
    Color: #08526d #ec1c23
    Version: 0.0.1
    Email: ahmedhassan2002@gmail.com
    URL Facebook:
*/
/*
    Date: 30/7/2020
    Version: 0.0.2
     -- add sass
*/
@font-face {
  font-family: Raleway-Regular;
  src: url(../font/Raleway-Regular.ttf);
}
body {
  font-family: Raleway-Regular;
  background: #f7f7f7;
  font-size: 1rem;
  font-weight: bold;
}

/* start upper-bar */
.upper-bar {
  background: #08526d;
  color: #7e7e7e;
}
.upper-bar .row div:nth-child(1) i {
  color: #fff;
  margin-right: 5px;
}
.upper-bar .row div:nth-child(1) span:nth-of-type(1) {
  margin-right: 5px;
}
.upper-bar .row div:nth-child(1) span:hover {
  color: #fff;
}
.upper-bar .row div:nth-child(n+1) {
  padding: 10px 0;
}
.upper-bar .row div:nth-child(2) span {
  margin-left: 1rem;
  border: 1px solid #ec1c23;
  padding: 2px 10px;
}

/* end upper-bar*/
/* start nav */
.navbar-light .navbar-nav .nav-link {
  color: #08526d;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ec1c23 !important;
}

/* end nav */
/* start carousel*/
.carousel-inner {
  height: 100%;
}
.carousel-inner .carousel-item {
  height: 100%;
  position: relative;
}
.carousel-inner .carousel-item .w-100 {
  height: 100%;
}
.carousel-inner .carousel-item .overlay .carousel-caption {
  position: static;
  color: #fff;
  height: 100%;
  font-size: 3.5rem;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .carousel {
    height: 400px !important;
  }
  .carousel .carousel-caption {
    font-size: 1.5rem !important;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel {
    height: 400px !important;
  }
  .carousel .carousel-caption {
    font-size: 2rem !important;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-caption {
    font-size: 2.5rem;
  }
}
/* end carousel*/
/* start featcher */
.featcher {
  margin: 5% 0;
}
.featcher div i {
  font-size: 2.5rem;
  background: #ec1c23;
  color: #fff;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  line-height: 70px;
}
.featcher div h2 {
  color: #08526d;
  font-size: 1.5rem;
}
.featcher div p {
  color: #7e7e7e;
  font-weight: 100;
}

/* end featcher*/
/* start overview */
.overview {
  background: #e6f2f7;
  margin: 5% 0;
}
.overview h2 {
  padding: 7% 0 2%;
}
.overview p {
  line-height: 3;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
}
.overview h5 {
  letter-spacing: 4px;
  margin-bottom: 3%;
}
.overview p,
.overview h5 {
  font-weight: bold;
  color: #7e7e7e;
}
.overview button {
  padding: 0.375rem 1.75rem;
  letter-spacing: 5px;
  font-size: 1.5rem;
  margin-bottom: 7%;
}
.overview button:hover {
  background-color: #ec1c23;
  border: none;
}

@media (max-width: 767.98px) {
  .overview h2 {
    font-size: 2rem;
  }
  .overview p {
    line-height: 1.5;
    font-weight: normal;
  }
  .overview h5 {
    font-weight: normal;
  }
  .overview button {
    font-weight: normal;
    letter-spacing: 0;
    font-size: 1rem;
    padding: 0.275rem 0.75rem;
  }
}
/* end overview*/
/* featured work */
.featured {
  position: relative;
}
.featured div:nth-child(1) p {
  color: #7e7e7e;
  margin-bottom: 1%;
}
.featured div:nth-child(1) .box ul li {
  border: 1px solid #08526d;
  background: transparent;
  color: #08526d;
  font-weight: bold;
  font-size: 1.5rem;
}
.featured div:nth-child(1) .box ul li:hover {
  border: 1px solid #ec1c23;
  background: #ec1c23;
  color: #fff;
}
.featured div:nth-child(1) .box ul li:not(:last-child) {
  margin-right: 1%;
}
.featured div:nth-child(1) .box .option {
  background-color: #d2dadd;
  border: 2px solid #d2dadd;
  border-radius: 7px;
  cursor: pointer;
  max-height: 60px;
}
.featured div:nth-child(1) .box .option i {
  font-size: 40px;
  color: #08526d;
  padding: 10px;
}
.featured .shufile-img .row {
  margin: 0;
}
.featured .shufile-img .row div {
  padding: 0;
}
.featured .shufile-img .row div:hover .overlay {
  display: block !important;
}
.featured .shufile-img .row div img {
  width: 100%;
}
.featured .shufile-img .row div .overlay {
  color: #fff;
  background: rgba(8, 82, 109, 0.73);
  height: 100%;
  display: none !important;
  width: 100% !important;
}
.featured .shufile-img .row div .overlay span:nth-child(1) {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.featured .shufile-img .row div .overlay span:nth-child(1) span {
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .featured .box ul li:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .featured div:nth-child(1) .box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
  }
  .featured div:nth-child(1) .box:hover {
    opacity: 1;
  }
  .featured div:nth-child(1) .box ul {
    background: #d2dadd;
    border: 2px solid #d2dadd;
    border-radius: 7px;
    width: 120px;
    display: none;
  }
  .featured div:nth-child(1) .box ul li {
    border: none;
    font-size: 1rem;
    text-align-last: left;
    display: block !important;
  }
  .featured div:nth-child(1) .box ul li:hover {
    border: none;
  }
}
/* End featured work */
/* Start latest post */
.latest-post {
  margin: 5% 0;
}
.latest-post div p {
  padding: 2.5% 0;
  color: #7e7e7e;
  line-height: 2;
}
.latest-post div .card {
  border: none;
}
.latest-post div .card .card-body {
  padding: 0;
}
.latest-post div .card .card-body h5 {
  margin-top: 20px;
  color: #08526d;
  font-weight: bold;
}
.latest-post div .card .card-body p {
  margin-bottom: 5%;
  color: #7e7e7e;
}
.latest-post div .card .card-body a {
  padding: 0.175rem 0.75rem;
  font-size: 0.75rem;
  margin-bottom: 7%;
}

/* End latest post */
/* start testmonil*/
.tastmin .carousel-item > img {
  width: 100%;
  height: 550px;
}
.tastmin .carousel-item .overlay .carousel-caption {
  font-size: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tastmin .carousel-item .overlay .carousel-caption img {
  border: 4px solid #fff;
  border-radius: 50%;
  margin-bottom: 7px;
  width: 120px;
}
.tastmin .carousel-item .overlay .carousel-caption p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.tastmin .carousel-item .overlay .carousel-caption p:nth-of-type(3) {
  font-size: 1rem;
  margin: 0 auto;
  width: 60%;
}

@media (max-width: 767.98px) {
  .tastmin .overlay .carousel-caption img {
    width: 100px !important;
    height: 100px !important;
  }
  .tastmin .overlay .carousel-caption p {
    font-weight: normal !important;
    font-size: 1.2rem !important;
  }
  .tastmin .overlay .carousel-caption p:nth-of-type(n+2) {
    font-weight: normal !important;
    font-size: 1rem !important;
  }
}
/*end testmonil*/
/* Start pricing table */
.pricing-table {
  margin: 5% 0;
}
.pricing-table > div > p {
  color: #7e7e7e;
  width: 80%;
  margin: 20px auto;
  line-height: 2;
}
.pricing-table > div .card-x {
  margin-top: 50px;
}
.pricing-table > div .card-x .card {
  margin: 0 2% 2%;
  box-shadow: 8px 10px 11px 3px #dad3d3;
  padding: 0;
}
.pricing-table > div .card-x .card .card-body {
  padding: 0;
}
.pricing-table > div .card-x .card .card-body h5 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #08526d;
  letter-spacing: 3px;
  padding: 10% 0 0 0;
}
.pricing-table > div .card-x .card .card-body p {
  font-weight: bold;
  font-size: 1.75rem;
  color: #08526d;
  background: #f7f7f7;
  margin: 5% 0;
  padding: 15px 0;
}
.pricing-table > div .card-x .card .card-body p span {
  font-size: 15px;
  letter-spacing: 1px;
}
.pricing-table > div .card-x .card .card-body .list-group {
  margin-bottom: 5%;
}
.pricing-table > div .card-x .card .card-body .list-group .list-group-item {
  border: none;
  color: #7e7e7e;
}
.pricing-table > div .card-x .card .card-body a {
  margin-bottom: 10%;
}
.pricing-table > div .card-x .card:nth-child(2) {
  position: relative;
  top: -15px;
}
.pricing-table > div .card-x .card:nth-child(2) .card-body p {
  background-color: #ec1c23;
  color: #fff;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .pricing-table div:nth-child(1) p {
    width: 100%;
  }
  .pricing-table div:nth-child(1) .card-x .card {
    box-shadow: none;
  }
}
/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .pricing-table div:nth-child(1) .card-x .card:nth-child(2) {
    top: 0;
  }
}
/* // Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .pricing-table div:nth-child(1) .card-x .card-body h5 {
    font-size: 1.5rem;
  }
  .pricing-table div:nth-child(1) .card-x .card-body .list-group-item {
    font-size: 0.92rem;
  }
}
/* End pricing table */
/* start choose us*/
.choose-us .row {
  margin: 0;
}
.choose-us .row div:nth-child(1) {
  padding: 0;
}
.choose-us .row div:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.choose-us .row div:nth-child(2) {
  background: #08526d;
  color: #fff;
  line-height: 2;
}
.choose-us .row div:nth-child(2) p {
  width: 80%;
  margin: 0 auto;
}
.choose-us .row div:nth-child(2) a:hover {
  background: #ec1c23;
}
.choose-us .row div:nth-child(2) h2,
.choose-us .row div:nth-child(2) a {
  margin: 3% 0;
}

@media (max-width: 767.98px) {
  .choose-us .row div:nth-child(2) h2 {
    font-size: 2rem;
  }
  .choose-us .row div:nth-child(2) h2,
.choose-us .row div:nth-child(2) p,
.choose-us .row div:nth-child(2) a {
    margin-top: 3%;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .choose-us .row div:nth-child(2) h2 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .choose-us .row div:nth-child(2) {
    line-height: 4;
  }
}
/* start happy*/
.happy {
  margin: 5% 0;
}
.happy i {
  font-size: 80px;
  color: #08526d;
}
.happy p {
  font-size: 40px;
  color: #08526d;
  font-weight: bold;
  margin: 0;
}
.happy h6 {
  color: #ec1c23;
  font-weight: bold;
}

/*End happy*/
/* Start cont us*/
.cont-us {
  height: 200px;
  background: #ec1c23;
  color: #fff;
  font-size: 35px;
  display: flex;
  align-items: center;
}
.cont-us a {
  background-color: transparent !important;
  border: 2px solid #fff;
}
.cont-us a:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.cont-us a:active {
  border: none;
}

@media (max-width: 567px) {
  .cont-us p {
    font-size: 1.4rem;
  }
}
/* End cont us*/
/* start footer*/
footer {
  margin-top: 5%;
}
footer .alt-1 p {
  color: #7e7e7e;
}
footer .alt-1 a:last-of-type {
  padding: 0.175rem 0.75rem;
  font-size: 0.75rem;
  margin-bottom: 7%;
}
footer .alt-2 div ul li {
  margin-top: 10px;
}
footer .alt-2 div ul li a {
  color: #08526d;
  text-decoration: none;
}
footer .alt-3 div ul {
  color: #7e7e7e;
}
footer .alt-3 div ul li {
  margin-top: 15px;
}
footer .alt-3 div ul li:last-child a {
  color: #08526d;
  margin-top: 10px;
}
footer .alt-2 h3,
footer .alt-3 h3 {
  color: #08526d;
  font-weight: bold;
}
footer .alt-1 p,
footer .alt-2 div ul,
footer .alt-3 div {
  margin-top: 2%;
}

/* end footer*/
/* start copyRight*/
.cobyright * {
  color: #7e7e7e;
}
.cobyright * ul {
  justify-content: flex-end;
}
.cobyright * ul li {
  margin-right: 25px;
}
.cobyright * ul li:nth-child(1):hover i {
  color: #3b5998;
}
.cobyright * ul li:nth-child(2):hover i {
  color: #1da1f2;
}
.cobyright * ul li:nth-child(3):hover i {
  color: #0077b5;
}
.cobyright * ul li:nth-child(4):hover i {
  color: #f56040;
}
.cobyright * ul li:nth-child(5):hover i {
  color: #bd081c;
}

@media (max-width: 767.98px) {
  .cobyright div div {
    text-align: center;
  }
  .cobyright div div div:nth-child(2) ul {
    display: block !important;
  }
  .cobyright div div div:nth-child(2) ul li {
    display: inline-block;
  }
}
/* end copyRight*/
/* fremwork*/
.logox {
  font-size: 2rem;
  color: #08526d !important;
}

.logz {
  font-weight: normal;
  color: #ec1c23 !important;
}

.overlayex {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  top: 0;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

.overview button, .latest-post div .card .card-body a, .pricing-table > div .card-x .card .card-body a, .choose-us .row div:nth-child(2) a, footer .alt-1 a:last-of-type {
  background: #ec1c23;
  color: #fff;
  font-weight: bold;
  border: none;
}

/*# sourceMappingURL=style.css.map */
